<% layout("/layouts/boilerplates") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="g-3 needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            type="text"
            placeholder="Add Sticky Title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Titele Looks good!</div>
          <div class="invalid-feedback">Title should be valid</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">description</label>
          <textarea
            placeholder="Enter_description"
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">description Looks good!</div>
          <div class="invalid-feedback">description should be valid</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-lable">Upload Listing image</label>
          <input
            name="listing[image]"
            type="file"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">price</label>
            <input
              type="text"
              placeholder="1300"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price Looks good!</div>
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="location" class="form-lable">location</label>
            <input
              type="text"
              placeholder="Aurangabad-Bihar"
              name="listing[location]"
              class="form-control"
              required
            />
            <div class="valid-feedback">location Looks good!</div>
            <div class="invalid-feedback">location should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-lable">country</label>
          <input
            type="text"
            placeholder="India"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">country should be valid</div>
        </div>
        <button class="btn btn-dark mb-3">Add</button>
      </form>
    </div>
  </div>
</body>
