body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;

}
.container{
    flex: 1;
}
.navbar{
    height: 4rem;
    background-color: white;
}

.fa-compass{
 color:#fe424f;
 font-size: 2rem;

}
.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222 ;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.f-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
    height: 8rem;
    background-color:#ebebeb;
}



.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* Cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem !important;
}

.card-img-top{ 
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 ;
}

.Listing-links{
    text-decoration: none;
}


/* card Effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.5;
    background-color: rgb(255, 255, 255);
}
/* New Page */
.btn {
    background-color: #fe424f   !important;
    border: none !important;
}

/* Edit Page */
/* 
.btn-edit {
    background-color: #fe424f  !important;
    border: none!important;
} */

/* show page */
.show-image{
    height: 30vh;
}

.btns{
    display: flex;
    
}

.show-cards{
    padding-left: 0;
    padding-right: 0;
}